/.idea
*.iml
**/*.iml
*/target
*.log
/classes
**/leconf/*
.DS_Store
*/.DS_Store

.classpath
.project
.settings

**/rebel.xml

/promo-soa-dao/src/main/java/com/lenovo/m2/promo/dao/OfferAdditMessageMapper.xml
/promo-soa-dao/src/main/java/com/lenovo/m2/promo/dao/OfferMapper.xml
/promo-soa-dao/src/test/java/additMessage/AddirMessageMapperTest.java
/promo-soa-dao/src/test/java/additMessage/OfferMapperTest.java
/promo-soa-dao/src/test/resources/jdbc.properties
/promo-soa-dao/src/test/resources/myBatis-config.xml
/promo-soa-service/src/test/java/test/com/lenovo/m2/promo/admin/TestPromoMsg.java
/promo-soa-dao/src/test/java/com/lenovo/m2/buy/promo/redis/BaseSqlTest.java

promo-soa-service/leconf/
promo-soa-service/src/test/java/test/com/lenovo/m2/promo/EnableCode.java
